.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--light-gray-150);
}

.mainMenu {
  display: flex;
  align-items: center;
  gap: 62px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 21px;
}

.searchIcon {
  cursor: pointer;
}

.userBlock {
  display: flex;
  gap: 40px;
}

.searching {
  max-width: 288px;
}

.userList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}

.cartCount {
  display: none;
}

.activeIndicator {
  position: absolute;
  bottom: -26px;
  left: 0;
  height: 2px;
  background-color: var(--black);
  transform-origin: left center;
}

.iconLink {
  position: relative;
  display: inline-block;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 16px;
  background-color: var(--white);
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .searchBox {
    display: none;
  }

  .userList {
    display: none;
  }

  .burgerMenu {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .closeMenu {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .mobileHeaderRight {
    display: flex;
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .cartCount {
    display: flex;
  }
}
