.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--light-gray-150);
}

.mainMenu {
  display: flex;
  align-items: center;
  gap: 62px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 21px;
}

.searchIcon {
  cursor: pointer;
}

.userBlock {
  display: flex;
  gap: 40px;
}

.userList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}

.cartCount {
  display: none;
}

.activeIndicator {
  position: absolute;
  bottom: -26px;
  left: 0;
  height: 2px;
  background-color: var(--black);
  transform-origin: left center;
}

.iconLink {
  position: relative;
  display: inline-block;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 20px 10px;
  background-color: #fff;
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .burgerMenu {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05); */
    cursor: pointer;
  }
}

@media screen and (max-width: 320px) {
  .cartCount {
    display: flex;
  }
}
