.pagination {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  border: 1px solid var(--color-gray-150);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
}

.prevButton img {
  transform: rotate(180deg);
}

.active {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
}
