.cart {
  padding-top: 112px;
  padding-right: 58px;
  padding-bottom: 430px;
}

.wrapper {
  display: flex;
  gap: 12%;
  margin-top: 64px;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.listItem {
  padding-bottom: 40px;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-150);
}

.cartItem {
  width: 40%;
  width: 577px;
  height: 600px;
}

.info {
  width: 40%;
  max-width: 459px;
  height: 600px;
}

.sum {
  margin-bottom: 24px;
  padding: 24px;
  background-color: var(--color-gray-200);
  border-radius: var(--border-radius);
}

.sum h3 {
  margin-bottom: 16px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--color-gray-150);
}

.sumText {
  display: flex;
  justify-content: space-between;
}

.sumText p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

@media screen and (max-width: 1228px) {
  .wrapper {
    flex-direction: column;
  }

  .cartItem {
    width: 100%;
    max-width: 100%;
    height: 600px;
  }

  .info {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    padding-top: 64px;
    padding-right: 0;
    padding-bottom: 230px;
  }

  .wrapper {
    margin-top: 48px;
  }
}

@media screen and (max-width: 596px) {
  .cart {
    padding-top: 24px;
    padding-bottom: 130px;
  }

  .wrapper {
    margin-top: 16px;
  }
}

@media screen and (max-width: 400px) {
  .cartList {
    gap: 24px;
  }

  .cartItem {
    margin-bottom: 42px;
    height: auto;
  }

  .listItem {
    padding-bottom: 0;
  }

  .listItem:not(:last-child) {
    border-bottom: none;
  }
}
