.cart {
  padding-top: 128px;
  padding-bottom: 430px;
  background-color: tomato;
}

.wrapper {
  display: flex;
  gap: 15%;
  margin-top: 64px;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: palegoldenrod;
}

.cartItem {
  width: 40%;
  width: 577px;
  height: 600px;
  background-color: palevioletred;
}

.info {
  width: 40%;
  max-width: 459px;
  height: 600px;
  background-color: purple;
}
