.register {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 144px;
  padding-bottom: 265px;
  border-radius: 8px;
}

.fieldset {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.forgotPassword {
  font-size: 16px;
  line-height: 27px;
  color: var(--black);
}
