.success {
  display: flex;
  gap: 20px;
  max-width: 455px;
  padding: 20px;
  background-color: var(--color-gray-500-200);
  box-shadow: 0px 0px 8px 0px #00000026;
}

.success p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-gray-500);
}

.long {
  max-width: 100%;
  border-top: 2px solid var(--accent);
  box-shadow: none;
}

.long p {
  color: var(--black);
}

.error {
  max-width: 100%;
  border: 1px solid red;
  color: red;
  box-shadow: none;
}

.error p {
  color: red;
}
