:root {
  /* --font-family: 'DMSans-Regular', sans-serif; */
  --white: #ffffff;
  --light-gray-200: #efefef;
  --light-gray-150: #d8d8d8;
  --light-gray: #707070;
  --accent: #a18a68;
  --black: #000000;
  --foreground: #171717;
  --errors: #d82700;
  --border-radius: 4px;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--foreground);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}
