.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 102px;
  height: 53px;
  background-color: var(--color-gray-200);
  border-radius: var(--border-radius);
}

.counter button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .counter {
    display: none;
  }
}
