.button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--font-dm-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button--ghost {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.button--medium {
  max-width: 187px;
}

.button--small {
  max-width: 156px;
}

@media screen and (max-width: 328px) {
  .button {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  /* .button--ghost,
  .button--medium,
  .button--small {
    font-weight: 400;
  } */
}
