.navList {
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLink {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 27px;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s ease;
}

.navList li:last-child {
  padding-right: 60px;
  border-right: 1px solid var(--light-gray);
}

.navLink:hover {
  color: var(--foreground);
}

.activeIndicator {
  position: absolute;
  bottom: -26px;
  left: 0;
  height: 2px;
  background-color: var(--black);
  transform-origin: left center;
}