:root {
  --font: 'DM Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --foreground: #171717;
  --light-gray: #707070;
  --color-gray-300: #979797;
  --light-gray-200: #efefef;
  --light-gray-150: #d8d8d8;
  --accent: #a18a68;
  --errors: #d82700;
  --border-radius: 4px;
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background-color: var(--background);
}

/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 33px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
  color: var(--color-black);
}

h1.left {
  text-align: left;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

@media screen and (max-width: 1285px) {
  .container {
    margin: 0;
    padding: 0 16px;
  }
}
