:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --foreground: #171717;
  --color-gray-700: #333;
  --color-gray-500: #707070;
  --color-gray-300: #979797;
  --color-gray-200: #efefef;
  --color-gray-150: #d8d8d8;
  --accent: #a18a68;
  --errors: #d82700;
  --border-radius: 4px;
}

body {
  font-family: var(--font-dm-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background-color: var(--background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 33px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
  color: var(--color-black);
}

h1.left {
  text-align: left;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}
/* 
.page-content {
  width: 100%;
} */

/* Анимации для backward compatibility */
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

@media screen and (max-width: 1285px) {
  .container {
    margin: 0;
    padding: 0 16px;
  }
}

@media screen and (max-width: 375px) {
  h1,
  h1.left {
    font-size: 20px;
    line-height: 26px;
  }
}
