:root {
  --font: 'DM Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --foreground: #171717;
  --light-gray: #707070;
  --color-gray-300: #979797;
  --light-gray-200: #efefef;
  --light-gray-150: #d8d8d8;
  --accent: #a18a68;
  --errors: #d82700;
  --border-radius: 4px;
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

@media screen and (max-width: 1285px) {
  .container {
    margin: 0;
    padding: 0 16px;
  }
}
