.toggle {
  position: relative;
  width: 33px;
  height: 20px;
  background-color: var(--color-gray-500);
  border-radius: 99px;
  transition: backgroun-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  cursor: pointer;
}

.toggle .thumb {
  position: absolute;
  left: 2px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 99px;
  background-color: var(--white);
  transform: translateX(0);
  transition: left 0.5s ease-in-out;
  transform: translateY(-50%);
}

.toggle.toggled .thumb {
  left: calc(45px - 32px);
}
