.login {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 144px;
  padding-bottom: 265px;
}

.form {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.forgotPassword {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: var(--black);
}
