.login {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 144px;
  padding-bottom: 265px;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.checkboxGroup {
  margin-bottom: 64px;
}

.checkbox {
  font-size: 16px;
  line-height: 27px;
  color: var(--black);
}

.enterBtn {
  margin-bottom: 16px;
}

.forgotPassword {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: var(--black);
}
