.catalogPage {
  min-height: 100vh;
  padding-top: 96px;
  padding-bottom: 164px;
}

.searchMobile {
  display: none;
}

.left {
  margin-bottom: 38px;
}

.catalog {
  display: flex;
  gap: 40px;
}

.title {
  margin-bottom: 40px;
}

.filter {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filterMobile {
  display: none;
}

.cardsWrapper {
  min-height: 100vh;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 28px;
  line-height: 34px;
}

.noProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 48px;
  line-height: 52px;
}

.search {
  position: relative;
}

.search img {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.priceSearch {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switchLabel {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: var(--black);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  column-gap: 24px;
  row-gap: 70px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1330px) {
  .cards {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    column-gap: 16px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 946px) {
  .catalog {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .searchMobile {
    display: block;
    margin-bottom: 48px;
  }

  .catalogPage {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .catalog {
    flex-direction: column;
    gap: 16px;
  }

  .title {
    margin-bottom: 16px;
  }

  .filter {
    display: none;
  }

  .filterMobile {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .filterMobileLabel {
    font-size: 12px;
    line-height: 20px;
    color: var(--accent);
  }

  .filter.visible {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 16px;
    background-color: var(--white);
  }

  .cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 24px;
  }
}

@media screen and (max-width: 475px) {
  .searchMobile {
    margin-top: 17px;
    margin-bottom: 24px;
  }

  .catalogPage {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 26px;
  }

  .filter {
    width: 100%;
  }

  .cards {
    grid-template-columns: repeat(2, minmax(136px, 1fr));
    margin-bottom: 30px;
  }
}
