.logo {
  display: block;
  max-height: 40px;
}

@media screen and (max-width: 320px) {
  .logo {
    max-height: 36px;
  }

  .logo a img {
    display: block;
    max-width: 85px;
    max-height: 18px;
  }
}