.search {
  display: flex;
  align-items: baseline;
  gap: 5px;
  max-width: 288px;
  padding: 10px;
  background-color: var(--light-gray-200);
  border-radius: 4px;
}

.searchIcon {
  display: inline-block;
  width: auto;
  height: 100%;
}

.searchInput {
  width: 100%;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: var(--light-gray);
}
