.input {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--black);
  border: none;
  background: none;
  transition: all 0.3s ease;
}

.input:focus {
  padding: 12px 0px 12px 12px;
  outline: 2px solid var(--color-gray-150);
  border-bottom: 1px solid transparent;
  border-radius: var(--border-radius);
}

.input::placeholder {
  color: var(--color-gray-500);
}

.input:focus-visible {
  outline: 2px solid var(--color-gray-150);
  border-radius: var(--border-radius);
}

.gray {
  border-bottom: 1px solid var(--color-gray-150);
}

.black {
  border-bottom: 1px solid var(--black);
}

.error {
  padding: 12px 0px 12px 12px;
  border-bottom: 1px solid red;
}

@media screen and (max-width: 375px) {
  .input {
    font-size: 14px;
    line-height: 20px;
  }
}
