.item {
  display: flex;
  align-items: flex-start;
}

.image {
  border-radius: var(--border-radius);
}

.imageWrapper {
  max-height: 136px;
  margin-right: 40px;
}

.textInfoWrapper {
  display: flex;
  gap: 104px;
}

.textInfo h3 {
  min-width: 132px;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
  color: var(--black);
}

.textInfo p {
  font-size: 16px;
  line-height: 27px;
  color: var(--accent);
}

.cartCounter {
  margin-right: 52px;
}

.cartItemRemove {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1228px) {
}
