.item {
  display: flex;
  align-items: flex-start;
}

.image {
  border-radius: var(--border-radius);
}

.imageWrapper {
  max-height: 136px;
  margin-right: 40px;
}

.textInfoWrapper {
  display: flex;
  gap: 104px;
}

.textInfo h3 {
  min-width: 132px;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
  color: var(--black);
}

.textInfo p {
  font-size: 16px;
  line-height: 27px;
  color: var(--accent);
}

.cartCounter {
  margin-right: 52px;
}

.cartItemRemove {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .textInfoWrapper {
    flex-direction: column;
    gap: 29px;
    margin-right: auto;
  }

  .cartCounter {
    margin-top: auto;
  }
}

@media screen and (max-width: 400px) {
  .imageWrapper {
    margin-right: 8px;
  }

  .textInfoWrapper {
    gap: 44px;
  }

  .textInfo h3 {
    min-width: 100px;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
  }

  .textInfo p {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-gray-500);
  }
}
