.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gray-150);
}

.mainMenu {
  display: flex;
  align-items: center;
  gap: 62px;
}

.searchBox {
  display: flex;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 32px;
}

.exitBtn {
  display: flex;
  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.searching {
  max-width: 288px;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 16px;
  background-color: var(--white);
}

.burgerWrapper {
  display: none;
}

.burgerMenu {
  display: none;
}

.navMobile {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px 32px;
  background-color: var(--color-white);
}

.navMobile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.navMobile__content {
  margin-top: 48px;
}

.navMobile__menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 30px;
}

.navMobile__hr {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color-gray-500-150);
}

.navMobile__icons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.navMobile__link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font);
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: var(--color-black);
}

.navMobile__exit {
  display: flex;
  gap: 12px;
  height: 21px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.navMobile__btns {
  display: flex;
  gap: 16px;
}

.navMobile__close {
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .searchBox {
    display: none;
  }

  .userList {
    display: none;
  }

  .burgerWrapper {
    display: flex;
    gap: 16px;
  }

  .burgerMenu {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .closeMenu {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .mobileHeaderRight {
    display: flex;
    gap: 16px;
  }

  .exitBtn {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .navMobile__content {
    margin-top: 40px;
  }

  .navMobile__menu,
  .navMobile__icons {
    gap: 24px;
  }

  .navMobile {
    padding: 16px 16px;
  }

  .navMobile__link {
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .cartCount {
    display: flex;
  }
}
