.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-gray-150);
}

.mainMenu {
  display: flex;
  align-items: center;
  gap: 62px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 21px;
}

/* .searchBox:has(div.searching:has(form.search)) {
  gap: 21px;
} */

.searchIcon {
  cursor: pointer;
}

.userBlock {
  display: flex;
  gap: 40px;
}

.searching {
  max-width: 288px;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 16px;
  background-color: var(--white);
}

.burgerWrapper {
  display: none;
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .searchBox {
    display: none;
  }

  .userList {
    display: none;
  }

  .burgerWrapper {
    display: flex;
    gap: 16px;
  }

  .burgerMenu {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .closeMenu {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .mobileHeaderRight {
    display: flex;
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cartCount {
    display: flex;
  }
}
